
li {
	vertical-align: middle;
}

h4 {
    text-shadow: 3px 2px blue;
    text-align: center;
}

body {
	background-image: url('epicspace.gif');
	background-size: cover;
	color: white; 
	text-align: center;
	max-width: 1000px;
	margin: 0 auto;

}

div {
	text-align: center;
}

p {
	margin-top: 50px;
}

img {
	margin-top: 100px
}